
body {
  margin: 0;
}
.navbar {
  overflow: auto;
  position: fixed;
  width: 100%;
  padding: 18px 0;
  z-index: 1;
  opacity: .98;
  background-color: white;
}

#menu a:hover{
  color:red;
  text-decoration: underline;
}

#menu button a:hover {
  color:white;
  text-decoration: none;

}

#logo img {
  width: 100%;
  height: 100%;
}

#logo {
  margin-left: 25%;
  float: left;
  width: 175px;
  height: 35px;
}

#menu {
  float: right;
  width: 65%;
}

#menu ul li {
  margin-left: 2.5%;
  display: inline-block;

}

#menu ul {
  margin: 0px;
  margin-left: 6%;
}


#menu a {
  font-family: "proxima-nova","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 1em;
  color: grey;
  text-decoration: none;

}

#menu button a{
  color: white;
}

#tryitfree, #contactus {
  border: none;
  position: relative;
  color: white;
  background-color:  rgb(224, 80, 61);
  font-size: 1em;
  height: 40px;
  width: 120%;
}

#contactus {
  background-color: rgb(52, 73, 94);
}

#contactus:hover {
  background-color: rgb(52, 73, 116);

}

#tryitfree:hover {
  background-color:rgb(224, 80, 91);

}

.pictures {
  position: relative;
  top: 76px;
  background: url('../img/residential.jpg');
  transition: background 0.5s linear;
  width: 100%;
  height: 400px;
}


.text {
  position: relative;
  top: 50px;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  text-align: center;
}

.text p:nth-child(1) {
  font-size: 3em;
  font-style: normal;
  font-weight: 200;
}

.text p:nth-child(2) {
  font-size: 2em;
  font-style: normal;
  font-weight: 200;
}

p{
  margin: 0;
}

.links {
  position: relative;
  top: 35px;
  text-align: center;
}

#pic_links li {
  list-style: none;
  display: inline-block;
  padding: 2%;

}

#pic_buttons {
  margin-top: 30px;
}

.links a {
  text-decoration: none;
  color: black;
}

.links li:nth-child(1) a{
  text-decoration: underline;
}

#pic_buttons button {
  border: none;
  margin: 0 .5%;
  padding-top: .5%;
  background-color:  rgb(224, 80, 61);
  font-size: 1em;
  height: 50px;
  width: 15%;
}

#pic_buttons button:nth-child(2) {
  background-color: rgb(52, 73, 94);
}

#pic_buttons a{
  color:white;
}





.myMenu li ul {
  position:absolute;
  visibility:hidden;
  text-align: center;
  width: 10%;
  height: 150px;
  left: 34.3%;
  z-index: 1;

}

#holder {
  visibility: hidden;
}


.myMenu li ul li {
  padding: 7%;
}

ul#test {
  margin-top: -1%;
  position: absolute;
  margin-left: 2.3%;
}


.dropdown {
  position: absolute;
  visibility: hidden;
  width: 8%;
  height: 190px;
  left: 40%;
  background-color: white;
  opacity: .9;
  z-index: 1;
  border: none;
  border-top: red 1px solid;
  top: 77px;
}

.summary {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 415px;
  background-color: #E6E6E6;
}
.companies {
  width: 80%;
  margin: 0 auto;
}

.companies img{
  width: 10%;
  height: 50px;
  padding: 1%;
  margin-left: 3%;
}

.syn {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3%;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}


.syn img {
  margin-left: 40%;
  width: 50px;
  height: 50px;
}

.cloud p:nth-child(2), .mobile p:nth-child(2), .people p:nth-child(2) {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  margin: 15px 0;
}

.cloud p:nth-child(3), .mobile p:nth-child(3), .people p:nth-child(3) {
  line-height: 27px;
  width: 90%;
  margin-left: 20px;
  }

.cloud {
  width: 29%;
  margin-left: 2%;
  float: left;
}
.mobile {
  width: 29%;
  float: left;
  margin: 0 3%;
}
.people {
  float: left;
  width: 29%;
}


@media all and (max-width: 1680px) {

  #menu {
  width: 55%;
  margin-right: 8%;

}

#menu ul li {
  margin-left: 2.5%;

}

#menu ul {
  margin-left: 0;
}
#logo {
  margin-left: 21%;
}

.myMenu li ul {
  width: 10%;
  left: 35%;

}

.dropdown {
  width: 8%;
  height: 170px;
  left: 38.5%;
  top: 77px;
}

}

@media all and (max-width: 1440px) {
.dropdown {
  left: 39%;
  height: 160px;
}
}

@media all and (max-width: 1366px) {
.dropdown {
  left: 39%;
  width: 8.5%;
}

#logo {
  margin-left: 13%;
}
}

@media all and (max-width: 1280px) {
.myMenu li ul {
  width: 10%;
  left: 35.5%;
}
.dropdown {
  left: 39%;
  width: 9.5%;
  height: 150px;
}

}

@media all and (max-width: 1080px) {
  #logo {
  margin-left: 5%;

}

#menu {
  width: 75%;
  margin-right: -10%;
}

#pic_buttons button {
  height: 50px;
  width: 25%;
}

.text{
  top: 100px;
}

.links {
  top: 110px;
}

#pic_buttons {
  margin-top: 12px;
}

.myMenu li ul {
  width: 11%;
  left: 34%;
}
.dropdown {
  left: 37.3%;
  width: 12%;
  height: 150px;
}
}


